map: {{if .m.age }}{{.m.age}}{{ else }}0{{end}}
m: {{ .m.illegalField }}
map: {{$illegalField := .m.illegalField}} {{if $illegalField }} {{$illegalField}} {{ else }}0{{end}}
map: {{$age := .m.age}}{{if $age }}{{$age}}{{ else }}0{{end}}
say: {{ .person.Say "Master" }}